<div>
  <app-certificate-page-header />
  <app-certificate-suggestions-peek />
  <app-certificate-toast
    *ngIf="submitMessage as toastKey"
    [messageKey]="toastKey"
    [translateParams]="submitToastParams"
    (dismissed)="dismissToast()" />
  <p *ngIf="catalogLoading" class="certificate-loading">
    {{ 'CERTIFICATE.LOADING' | translate }}
  </p>
  <p *ngIf="catalogErrorKey as errKey" class="certificate-page-error" role="alert">
    {{ errKey | translate }}
  </p>
  <ng-container *ngIf="!catalogLoading && !catalogErrorKey">
    <app-certificate-toolbar
      [searchQuery]="searchQuery"
      (searchQueryChange)="searchQuery = $event"
      [filterPresets]="filterPresets"
      [activeFilter]="activeFilter"
      (filterChange)="setFilter($event)" />
    <p *ngIf="displayRows.length === 0" class="certificate-empty">
      {{ 'CERTIFICATE.SEARCH_EMPTY' | translate }}
    </p>
    <app-certificate-catalog-list
      *ngIf="displayRows.length"
      [displayRows]="displayRows"
      [trackByRow]="trackRow"
      (openItem)="openRow($event)" />
  </ng-container>
</div>

<app-certificate-apply-modal
  *ngIf="certificateApplyModalOpen && selectedCertificate"
  [selectedCertificate]="selectedCertificate"
  (cancelled)="closeApply()"
  (applied)="onApplySubmitted($event)" />
